<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/edmure.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/account.css"/>
    {% include 'include/favicon.html' %}
</head>
<body>
<div class="login">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        用户登录
    </div>
    <form id="fm" method="POST" action="/login/">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="password">密&nbsp;码</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">
        </div>
{#        <div class="form-group">#}
{#            <label for="password">验证码</label>#}
{##}
{#            <div class="row">#}
{#                <div class="col-xs-7">#}
{#                    <input type="text" class="form-control" name="check_code" id="check_code" placeholder="请输入验证码">#}
{#                </div>#}
{#                <div class="col-xs-5">#}
{#                    <img id="check_code_img" src="/check_code.html">#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="checkbox">#}
{#            <label>#}
{#                <input type="checkbox" value="1" name="rmb"> 一个月内自动登录#}
{#            </label>#}
{##}
{#            <div class="right">#}
{#                <a href="/forget.html">忘记密码？</a>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-xs-3">
                <a id="submit" class="btn btn-primary">登 录</a>
            </div>
            <div class="col-xs-9" style="padding-left: 0;">
                <div class="alert alert-danger hide">
                    <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </span>
                    <span id="error_msg" style="font-size: 12px;"></span>
                </div>
            </div>
        </div>

    </form>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        $(function () {
            bindLogin();
        });
        function bindLogin() {
            $('#submit').click(function () {
                var $msg = $('#error_msg');
                $msg.parent().addClass('hide');
                $.ajax({
                    url: '/login/',
                    type: 'POST',
                    data: $('#fm').serialize(),
                    dataType: 'JSON',
                    success: function (arg) {
                        if(arg.status){
                            location.href = '/home/'
                        }else{
                            $msg.parent().removeClass('hide');
                            $msg.text(arg.message);
                        }

                    }
                })

            })
        }

    </script>
</div>
</body>
</html>