<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/edmure.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/account.css"/>
    {% include 'include/favicon.html' %}
    <style>

    </style>
</head>
<body>
<div class="register">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        用户注册
    </div>
    <form role="form" action="/register.html" method="post" id="fm">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名" required>
        </div>
         <div class="form-group">
            <label for="username">昵&nbsp;&nbsp;&nbsp;&nbsp;称</label>
            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="请输入昵称" required>
        </div>
        <div class="form-group">
            <label for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="请输入密码" required>
        </div>
        <div class="form-group">
            <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码" required>
        </div>
{#        <div class="form-group">#}
{#            <label for="confirm_password">确认密码</label>#}
{#            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="请重新输入密码" required>#}
{#        </div>#}

        <div class="form-group">
            <label for="check_code">验证码</label>
            <div class="row">
                <div class="col-xs-7">
                    <input type="text" class="form-control" name="check_code" id="check_code" placeholder="请输入验证码" required>
                </div>
                <div class="col-xs-5">
                    <img id="check_code_img" src="/check_code.html">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-3">
                <a id="register" class="btn btn-default">注 册</a>
            </div>
            <div class="col-xs-9" style="padding-left: 0;">
                <div class="alert alert-danger hide">
                    <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </span>
                    <span id="error_msg" style="font-size: 12px;"></span>
                </div>
            </div>
        </div>

{#        <input id="register" type="submit" class="btn btn-default" value="注&nbsp;&nbsp;册"/>#}
{#        <div class="col-xs-9" style="padding-left: 0;">#}
{#                <div class="alert alert-danger hide">#}
{#                    <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">#}
{#                        <i class="fa fa-minus-circle" aria-hidden="true"></i>#}
{#                    </span>#}
{#                    <span id="error_msg" style="font-size: 12px;"></span>#}
{#                </div>#}
{#            </div>#}
    </form>
</div>

    <script src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        $(function () {
            bindRegister();
        });
        function bindRegister() {
            $('#register').click(function () {
                var $msg = $('#error_msg');
                $msg.parent().addClass('hide');
                $.ajax({
                    url: '/register.html',
                    type: 'POST',
                    data: $('#fm').serialize(),
                    dataType: 'JSON',
                    success: function (arg) {
                        if(arg.status){
                            alert(arg.message);
                            location.href = '/'
                        }else{
                            $msg.parent().removeClass('hide');
                            {#var mKeys = arg.message.items;#}
                            {#console.log(arg.message.items);#}
                            $msg.text(arg.message);
                            var img = $('#check_code_img')[0];
                            img.src = img.src + '?';
                            $('#password,#check_code').val('');
                        }

                    }
                })

            })
        }

        $('#check_code_img').click(function () {
            this.src += '?';
        })
    </script>
</body>
</html>