.d {
    color: #404040;
}

p {
    color: #555;
    margin: 10px 10px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
    margin: 8% auto 0;
    max-width: 550px;
    min-height: 200px;
    padding: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
