<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error_404_资源不存在</title>
    {% include 'include/favicon.html' %}
    <link rel="stylesheet" href="/static/css/404.css">
</head>
<body>
    <a href="/">
        <img src="/static/imgs/o_Warning.png" alt="扯蛋的青春丶">
    </a>
    <p><b>404.</b> 抱歉! 您访问的资源不存在!</p>
    <p class="d">请确认您输入的网址是否正确，如果问题持续存在，请发邮件至pofour.fu@foxmail.com与我们联系。</p>
    <p><a href="/">返回网站首页</a> </p>
</body>
</html>