<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ res.title }}</title>
    {% include 'include/favicon.html' %}
    <link rel="stylesheet" href="/static/css/detail.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/edmure.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    <link rel="stylesheet" href="/static/css/row-avatar.css">
    {% include 'include/favicon.html' %}

    <script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
</head>
<body>
{#    <h1>{{ res.title }}</h1>#}
{#    <h2>{{ res.summary }}</h2>#}
{#    <h3>{{ res.article }}1</h3>#}
{% include 'include/header.html' %}
    <div id="container">
        <div id="article_header">
            <p><b style="float: left; width: 60px; font-size: 18px">标题：</b>{{ res.title }}</p>
        </div>
        <div id="article_summary">
            <p><b style="float: left; width: 60px; font-size: 18px">摘要：</b>{{ res.summary }}</p>
        </div>
        <div id="article_detail">
{#            <span><b style="float: left; width: 60px; font-size: 18px;height: 100%">正文：</b></span>#}
            <span>{{ article_detail.content }}</span>
        </div>
    </div>
</body>
</html>